body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(45deg,#0f172a,#0e0f21);
color:#f1f5f9;
margin:0;
font-size:20px;
}

.container{
max-width:1600px;
margin:auto;
padding:50px;
}

h1{
text-align:center;
margin-bottom:40px;
font-size:48px;
}

.card{
background:linear-gradient(45deg,#1e293b,#1d3254);
padding:40px;
margin:30px 0;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

.center{
text-align:center;
}

table{
width:100%;
border-collapse:separate;
border-spacing:0 18px;
}

th{
font-size:28px;
padding:16px;
}

td{
padding:22px;
font-size:30px;
font-weight:600;
text-align:center;
}

tr{
background:linear-gradient(45deg,#1e293b,#1d3254);
}

tr.gold{
background:linear-gradient(90deg,#ffd700,#ffb700);
color:black;
}

tr.silver{
background:linear-gradient(90deg,#e5e7eb,#9ca3af);
color:black;
}

tr.bronze{
background:linear-gradient(90deg,#cd7f32,#92400e);
color:white;
}

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:18px 40px;
background:#0f172a;
border-bottom:1px solid #334155;
position:sticky;
top:0;
z-index:100;
}

.nav-left{
font-size:26px;
font-weight:bold;
}

.nav-center{
font-size:18px;
opacity:0.9;
}

.nav-right{
display:flex;
align-items:center;
gap:10px;
}

.navbar input{
width:140px;
padding:8px;
border-radius:8px;
border:none;
}

.avatar{
width:36px;
height:36px;
display:inline-flex;
align-items:center;
justify-content:center;
background:#1e293b;
border-radius:10px;
margin-right:10px;
font-size:20px;
}

button{
padding:16px 26px;
border-radius:14px;
border:none;
background:#72898f;
color:white;
cursor:pointer;
font-size:20px;
font-weight:bold;
transition:.2s;
}

button:hover{
background:#51808f;
transform:scale(1.05);
}

/* ============================= */
/* LINKI */

a{
color:#38bdf8;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}

/* ============================= */
/* BOISKO LINK */

.boiskoButton{
display:inline-block;
margin-top:20px;
font-size:20px;
}

/* ============================= */
/* NAVBAR INPUTY */

.navbar input{

padding:6px 10px;
border-radius:8px;
border:none;

background:#1e293b;
color:white;

}

/* ============================= */
/* LOGIN */

#loginBox{
display:flex;
gap:6px;
align-items:center;
}

/* ============================= */
/* USER BOX */

#userBox{
display:flex;
align-items:center;
gap:10px;
}

table tr{
border-radius:14px;
overflow:hidden;
}

h1{
text-align:center;
margin-bottom:30px;
font-size:44px;
letter-spacing:1px;
}
